body {
  margin: 5em auto;
  max-width: 50em;

  font-family: "Helvetica", "Arial", sans-serif;
  color: #333;
}

h1 {
  color: #111;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff0000
}

#diagramContainer {
  width: 500px;
  margin: 4em auto 0;
  position: relative;
}
