body {
  margin: 0 auto;
  max-width: 70em;

  font-family: "Helvetica", "Arial", sans-serif;
  color: #333;
}

h1 {
  color: #111;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff0000;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.center {
  text-align: center;
}

#controls {
  margin: 2em 0 1em;
}

#phase {
  margin-right: 1em;
}

#amplitude {
  margin-right: 1em;
}

.diagramContainer {
  text-align: center;
  margin: 2em auto;
  width: 400px;
  height: 400px;
}

/* Tables */
.divTable {
	display: table;
  margin: 2em;
}

.divTableRow {
	display: table-row;
}

.divTableCell {
	display: table-cell;
	padding: 3px 10px;
}

.divTableBody {
	display: table-row-group;
}
